<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Konfiguracijska datoteka</description>
        <param-name>konfiguracija</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <filter>
        <filter-name>KontrolaPristupa</filter-name>
        <filter-class>org.foi.nwtis.jelvalcic.web.filteri.KontrolaPristupa</filter-class>
    </filter>
    <filter>
        <filter-name>KontrolaPristupaAdmin</filter-name>
        <filter-class>org.foi.nwtis.jelvalcic.web.filteri.KontrolaPristupaAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>KontrolaPristupaAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>KontrolaPristupa</filter-name>
        <url-pattern>/privatno/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>Slusac aplikacije</description>
        <listener-class>org.foi.nwtis.jelvalcic.web.slusaci.SlusacAplikacije</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Kontroler</servlet-name>
        <servlet-class>org.foi.nwtis.jelvalcic.web.kontrole.Kontroler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JelvalcicAplikacija1WS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/Kontroler</url-pattern>
        <url-pattern>/IspisAktivnihZipKodova</url-pattern>
        <url-pattern>/IspisMeteoPodataka</url-pattern>
        <url-pattern>/PrijavaKorisnika</url-pattern>
        <url-pattern>/OdjavaKorisnika</url-pattern>
        <url-pattern>/ProvjeraKorisnika</url-pattern>
        <url-pattern>/PregledDnevnika</url-pattern>
        <url-pattern>/PregledDnevnikaKorisnickihZahtjeva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JelvalcicAplikacija1WS</servlet-name>
        <url-pattern>/JelvalcicAplikacija1WS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>org.foi.nwtis.jelvalcic.web.kontrole.NeuspjesnaPrijava</exception-type>
        <location>/jsp/neuspjesnaPrijava.jsp</location>
    </error-page>
</web-app>
